<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>2023-YuuhiPortal</title>
  </head>

  <body>
    <header>
      <nav>
        <h1 href="home.html">雄飛祭運営ポータル</h1>
        <ul class="nav-list">
          <li class="nav-list-item" href="share.html">情報共有</li>
          <li class="nav-list-item" href="submission.html">企画書提出</li>
        </ul>
      </nav>
    </header>
    <div class="main-visual">
      <p class="main-visual-text">Submission List</p>
    </div>
    <main>
      <section class="inmain">
        <h1>新規投稿</h1>
        <div class="border_line_center"></div>
        <div class="box">
          <%= form_with model: @list, url:'/todolists', local:ture do |f|%>
            <h4>タイトル</h4>
            <%= f.text_field :title%>
            <h4>本文</h4>
            <%= f.text_area :body%>
            <h4>画像</h4>
            <%= f.text_field :image%>
            <%= f.submit "投稿" %>
          <% end %>
        </div>
        <div class="border_line_center"></div>
        <h1>投稿一覧</h1>
        <div class="box">
          <% @lists.each do |list| %>
            <div class="list-box">
              <%= attachment_image_tag list, :image, :fill, 200, 200, format: "jpeg" %>
              <div class="list-comment">
                <span class="list-body"><%= list.body %></span>
                <span class="list-title"><%=link_to list.title, todolist_path(list.id) %></span>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    </main>
  </body>
</html>